.App {
  text-align: center;
}

/* Pale Dogwood hex #F4CFC7 rgb 244,207,199 */
/* Light Coral hex #E79796 rgb 231,151,150 */
/* Peach Fuzz hex #FFBE98 rgb 255,190,152 */
/* Sunset hex #FFC98B rgb(255,201,139) */
/* Sage hex #C6C09C rgb 198,102,156 */

/* Dark Gray #696969 rgb */
/* Smashed Avocado hex #AA9F3D rgb 170,159,61 */
/* Greige hex #CCC2BA rgba(204, 194, 186, 1) */
/* hex #fff5e5 rgb(255,245,229) */
