.home {
  min-height: 100vh;
  background-color: rgb(244, 235, 236);
  font-family: "Raleway", serif;
}

.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* margin: 2rem auto; */
}

.home__caption {
  color: rgb(92, 122, 106);
  font-family: "Cinzel Decorative", serif;
  font-size: 6rem;
  font-weight: 400;
}

.home__caption-byline {
  color: rgb(92, 122, 106);
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 1.25rem;
}

.home__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.home__circle {
  margin: 0;
  width: 660px;
  height: 360px;
  border: none;
  border-radius: 50%;
  background-image: url("../../images/bannerSpring.png");
  background-size: cover;
}

.home__description {
  margin: 0;
  padding: 0;
  max-width: 530px;
  text-align: center;
  align-self: center;
  font-size: 1.25rem;
}

.home__search {
  background-color: rgb(244, 235, 236);
  padding: 4px 0;
  margin: 1.25rem;
}

.home__submit {
  margin: 0;
  margin-bottom: 40px;
  width: 24.8rem;
  height: 6rem;
  background-color: rgb(92, 122, 106);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3rem;
  font-family: "Raleway" ;
  font-weight: 400;
  font-size: 1.25rem;
}

.home__submit:hover {
  background-color: rgba(170, 159, 61, 0.35);
  color: rgb(255, 245, 229);
}

/* Pale Dogwood hex #F4CFC7 rgb 244,207,199 */
/* Light Coral hex #E79796 rgb 231,151,150 */
/* Peach Fuzz hex #FFBE98 rgb 255,190,152 */
/* Sunset hex #FFC98B rgb(255,201,139) */
/* Sage hex #C6C09C rgb 198,102,156 */

/* Dark Gray #696969 rgb */
/* Smashed Avocado hex #AA9F3D rgb 170,159,61 */
/* Greige hex #CCC2BA rgba(204, 194, 186, 1) */
/* hex #fff5e5 rgb(255,245,229) */
