.home {
  background-color: rgba(229, 198, 191, .75);
  padding: 50px 0 115px;
}

.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem auto;
}

.home__caption {
  color: rgba(170, 159, 61, .75);
  font-family: 'Gardena Holmes serif', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 50px;
}

.home__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
}

.home__circle {
  width: 600px;
  height: 600px;
  border: none;
  border-radius: 30%;
  background-color: rgba(169, 175, 159, .5);
  vertical-align: center;
  margin: 30px 30px;
  visibility: visible;
}

.home__logo {
  max-width: 400px;
  padding-top: 75px;
  visibility: visible;
}

.home__description {
  max-width: 400px;
  text-align: left;
  align-self: center;
  padding-top: 20%;
  font-size: 1.8rem;
  font-family: 'Gardena Holmes serif', sans-serif;
}

.home__search {
  background-color: fff5e5;
}

.home__submit {
  padding: 12px 18px;
  background-color: rgba(198, 192, 156, .75);
  color: #fff5e5;
  border: none;
  border-radius: 10px;
  font-family: 'Gardena Holmes serif', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}